.section {
  padding: 9.6rem 0;
}

.step-img {
  max-width: 35%;
}

.step-text-box {
  align-self: center;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;

  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-image-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.step-image-box::before,
.step-image-box::after {
  content: "";
  display: block;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-image-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;

  z-index: -2;
}

.step-image-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;

  z-index: -1;
}
