.marginRightSmall {
  margin-right: 1.6rem !important;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;

  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  transition: all 0.3s;
}

.btnOutline:link,
.btnOutline:visited {
  background-color: #fff;
  color: #555;
}

.btnOutline:hover,
.btnOutline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #555;
}

@media (max-width: 34em) {
  .btn:link,
  .btn:visited {
    padding: 1.4rem 2.3rem;
  }
  .marginRightSmall {
    margin-right: 0.9rem !important;
  }
}
