.deliveredMeal {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.deliveredImg {
  display: flex;
}

.deliveredImg img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;

  border: 3px solid #fdf2e9;
}

.deliveredImg img:last-child {
  margin-right: 0;
}

.deliveredText {
  font-size: 1.8rem;
  font-weight: 600;
}

.deliveredText span {
  color: #cf711f;
  font-weight: 700;
}

@media (max-width: 59em) {
  .deliveredMeal {
    justify-content: center;
    margin-top: 4.8rem;
  }
}
