.icons {
  stroke: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
}

.checkmark {
  stroke: #e67e22;
  height: 3rem;
  width: 3rem;
}

.div {
  display: block;
  padding: 3.2rem;
  border-radius: 50%;
  height: 4.8rem;
  width: 4.8rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  position: relative;
}

.features {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.socials {
  height: 2.4rem;
  width: 2.4rem;
  fill: #767676;

  transition: all 0.3s;
}

.socials:hover {
  fill: #555;
}
